* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-size: 24px;
  box-sizing: border-box;
  font-weight: 700;
  overflow: hidden;
  position: relative;;
}

html,
body {

}


p {
  font-weight: 400;
  /* Kanske?*/
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  display: block;
  border-radius: 4px;
}

/* used to separate items in flexbox */
.linebreak {
  width: 100%;
}

/* header */
.header {
  background-color: #011827;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 22px 23px 0px 24px;
  min-height: 144px;
}

.header__logo {
  max-width: 130px;
  margin-right: 10px;
}

.header__h1 {
  max-width: 78px;
}

.header__menu {
  margin-left: auto;
}

.burger__stripe {
  width: 51px;
  height: 6px;
  background-color: black;
  margin: 8px 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.header__menu__desktop {
  display: none;
}

/* section1 */
.section1 {
}
.section1__img {
 max-height: 468px;
}

.section1__img__mobile {
}

.section1__img__desktop {
  display: none;
}

.section1__buttons {

}

.btnOnSite {
  margin: auto;
  background-color: #8ACFE6;
  padding: 19px 53px 19px 52px;
  margin-top: 37px;
  color: #011827;
  max-width: 308px;
  max-height: 66px;
  position: relative;
}

.btnOnline {
    margin: auto;
    padding: 30px 43px 30px 42px;
    margin-bottom: 30;
    font-size: 16px;
    color: #36769D;
    text-decoration-line: underline;
    position: relative;
}



@media screen and (min-width: 750px) {

  /* header */
  .header {
    height: 216px;
  }

  .header__h1 {
    max-width: 100%;
    font-size: 40px;
    margin-top: 40px;
  }

  .header__menu {
    width: 100%;
    align-self: flex-end;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__menu__mobile {
    display: none;
  }

  .header__menu__desktop {
    display: flex;
    visibility: visible;
    justify-content: space-evenly;
    padding-bottom: 22px;
  }

  
  /* section 1 */ 
  .section1__img {
    overflow: hidden;
  }
  .section1__img__mobile {
    display: none;
  }

  .section1__img__desktop {
    display: block;
  }

  .section1__buttons {
    display: flex;
    justify-content: center;
    gap: 17px;
    bottom: 33px;
  }

  .btnOnline {
    margin: 0;
    background-color: #E3170A;
    color: white;
    width: 308px;
    max-height: 66px;
    font-size: 24px;
    text-decoration-line: none;
    padding: 19px 53px 19px 52px;
  }
  .btnOnSite {
    margin: 0;
  }


}


/* .quoteBox {