* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-size: 24px;
  box-sizing: border-box;
  font-weight: 700;
  position: relative;;
}

small {
  font-size: 18px;
  font-weight: 400;
}



q {
  font-weight:400;
  display: inline;
  text-decoration: none;
  font-style: italic;
}

q:before, q:after{ content: "";}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

button {
  /* background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  display: block;
  border-radius: 4px;
  text-align: center;
  position: relative; */
}

/* used to separate items in flexbox */
.linebreak {
  width: 100%;
}


/* header */
.header {
  background-color: #011827;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 22px 23px 0px 24px;
  min-height: 144px;
}

.header__logo {
  max-width: 130px;
  margin-right: 10px;
}

.header__h1 {
  max-width: 78px;
}

.header__menu {
  margin-left: auto;
}

.header__menu__mobileBtn {
  background-color: transparent;
  border-width: 0
}

.burger__stripe {
  width: 51px;
  height: 6px;
  margin: 8px 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.header__menu__desktop {
  display: none;
}


/* section1 */
.section1 {
}
.section1__img {
  max-height: 468px;
}

.section1__img__desktop {
  display: none;
}

.section1__anchors {
  margin-top: 37px;
}

.anchorOnSite {
  margin: auto;
  background-color: #8ACFE6;
  color: #011827;
  position: relative;
  width: 308px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.anchorOnline {
  margin: auto;
  padding: 30px 43px 30px 42px;
  margin-bottom: 30;
  color: #36769D;
  text-decoration-line: underline;
  position: relative;
  width: 308px;
  height: 66px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.anchorOnline a {
  font-size: 16px;
}


/* section 2*/
.section2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  gap: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.section2__quoteBox {
  max-width: 522px;
}

.section2__quoteBox__quoteFace {
  max-height: 96px;
  max-width: 96px;
  float: left;
  margin-right: 17px;
}

.section2__quoteBox__quote {
  display: flex;
  flex-wrap: wrap;
}

.section2__quoteBox__quote q {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.section2__quoteBox:nth-child(2){
display: none;
}


.preSection3__h2 {
  margin: auto;
  text-align: center;
  max-width: 464px;
  max-height: 42px;
  font-weight: 400;
  font-size: 32px;
  size: 36px;
  margin-top: 105px;

}
/* section 3 */
.section3 {
  display: flex;
  margin-top: 44px;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 38px;
  padding-left: 53px;
  padding-right: 54px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.section3__imgBox {
  width: 363px;
  height: 446px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  flex: 0 0 auto;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  border-radius: 8px 8px 0px 0px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}


.section3__imgBox__img {

}

.section3__imgBox__h3 {
width: 100%;
margin: 12px 38px 0px 17px;
}

.section3__imgBox__lineOfStars {
  /* display: flex; */
  display: block;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 17px;
  margin-right: 18px;
  gap: 5px;
}

.fa-star {
  color: #E3170A;
}

.section3__imgBox__smallTxt {
  font-size: 14px;
  font-weight: 400px; 
  top: 6px;
}

.section3__imgBox__p {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-left: 17px;
  margin-right: 18px;
}

.section3__imgBox__anchorBookRoom {
  background-color: #E3170A;
  color: white;
  font-size: 16px;
  width: 180px;
  height: 44px;
  margin-left: auto;
  position: absolute;
  bottom: 12px;
  right: 18px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}

.section3__imgBox__anchorBookRoom a {
  font-size: 16px;
}

.section4 {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  /* margin-top: 10px; */
}

.section4__anchors {
  margin-top: 47px; 
  margin-bottom: 47px;
}

.section4__storyBox {
  height: 500px;
  width: 100%;
  background-color: #011827;
  /* margin-top: 26px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 50px;
}


.section4__storyBox__text {
  width: 100%;
  text-align: center;
}

.section4__storyBox__text p{
  max-width: 632px;
  margin: auto;
  font-size: 28px;
  color: white;
  font-weight: 400;
}

.section4__storyBox__anchorReadFullStory {
  color: #36769D;
  position: relative;
  width: 308px;
  height: 66px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid #8ACFE6;
  border-radius: 4px;
  
}


/* section5 */
.section5__boxOneAndTwo__img__desktopImg {
  display: none;
}

.section5__boxThreeAndFour__img__desktopImg {
  display: none;
}

.section5__infoBox {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  flex-basis: 440px;
  margin: 30px;
}


.section5__infoBox h2 {
  font-size: 32px;
  font-weight: 700px;
  /* margin-top: 30px; */
  margin: 0;
}

.section5__infoBox p {
  font-size: 24px;
  font-weight: 400px;
  margin-top: 25px;
}

.section5__anchorBookOnSite {
  background-color: #E3170A;
  color: white;
  width: 308px;
  height: 66px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
}

.footer {
  min-height: 500px;
  background-color: #011827; 
  color: #ffffff;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */  
  justify-content: space-evenly;
  align-items:flex-start;
  padding: 20px;
}

.footer__siteInfo {
  /* max-width: 700px; */
}

.footer__nav {
}

.footer__h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 7px;
}

.footer__li {
  line-height: 21px;
}

.footer__a, .footer__p {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (min-width: 750px) {

  /* header */
  .header {
    height: 216px;
  }

  .header__h1 {
    max-width: 100%;
    font-size: 40px;
    margin-top: 40px;
  }

  .header__menu {
    width: 100%;
    align-self: flex-end;
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__menu__mobileBtn {
    display: none;
  }

  .header__menu__desktop {
    display: flex;
    visibility: visible;
    justify-content: space-evenly;
    padding-bottom: 22px;
  }


  /* section 1 */
  .section1__img {
    overflow: hidden;
  }
  .section1__img__mobile {
    display: none;
  }

  .section1__img__desktop {
    display: block;
  }

  .section1__anchors {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 17px;
    bottom: 33px;
    margin: 0;
  }

  .anchorOnline {
    margin: 0;
    background-color: #E3170A;
    color: white;
    width: 308px;
    height: 66px;
    text-decoration-line: none;
    padding: 0;
  }

  .anchorOnline a {
    font-size: 24px;
  }
  .anchorOnSite {
    margin: 0;
  }


  /* section 2 */
  .section2__quoteBox:nth-child(2){
    display:block;
    }

    .section2__quoteBox__quote q {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }


    /* section 4 */
    .section4__anchors {
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      gap: 17px;  
      margin-top: 87px; 
      margin-bottom: 87px;
    }


    /* section 5 */
    .footer {
      flex-direction: row;
      padding: 0;
      align-items: center;
      justify-content: space-evenly;
    }

    .footer__siteInfo {
    
    }

    .footer__siteInfo p {
      width: 416px;
    }
}

@media screen and (min-width: 1000px){
    /* section 5 */
    .section5__boxOneAndTwo__img__mobileImg {
      display: none;
    }
    

    .section5__boxThreeAndFour__img__mobileImg {
      display: none;
    }
    
    .section5__boxOneAndTwo__img__desktopImg, .section5__boxThreeAndFour__img__desktopImg {
      visibility: visible;
      display: block;
      width: 100%;
    }
    
    .section5__boxThreeAndFour__img__desktopImg {
      visibility: visible;
      display: block;
      width: 100%;
    }

    .section5__boxOneAndTwo, .section5__boxThreeAndFour  {
      display: flex;
    }

    .section5__boxThreeAndFour  {
      flex-direction: row-reverse;
    }


    .section5__infoBox {
      width: 50%;
      align-content: center;
      margin: auto;
    }

    .section5__boxOneAndTwo__img, .section5__boxThreeAndFour__img {
      width: 50%;
    }

    .section5__anchorBookOnSite {
      margin: 0;
      margin-top:25px;
      margin-right: auto;
    }
  }

@media screen and (min-width: 1280px){
      /* section 3 */
      .section3 {
        flex-wrap: wrap;
        overflow: auto;
        justify-content: center;
      }

      .section3__imgBox__smallTxt {
        margin-left: auto;
        justify-self:flex-end;
        margin-right: 11px;
      }
}